.container2{
    width:34.8vw;
    height:25vh;
    display: flex;
    flex-direction: row;
    margin-top:2.5%;
    margin-left:4rem;
    border-radius: 20px;
    background-color: #FFFFFF;
    .pie{
        display: flex;
        flex-direction: column;
        flex: 1;
        width:25vh;
        .pietitle{
        font-family: 'Montserrat', sans-serif;
        font-weight:700;
        font-size:1rem;
        padding: 6% 0 0 15%;
        }
    }
    .details{
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-top:3%;
        .detailDate{
         text-align:right;
         padding-right:2rem;
         font-family: 'Lato','sans-serif';
         font-weight:400;
         font-size:0.6rem;
         color:#858585;
        }
        .detailContent{
            display: flex;
            flex-direction: row;
            .color{
                display: flex;
                justify-content: center;
                align-items: center;
                flex:1;
                .color1{

                    width:15px;
                    height:15px;
                    background-color:#98D89E;
                    padding-bottom:0%;
                    border-radius: 50%;
                }
                .color2{

                    width:15px;
                    height:15px;
                    background-color:#F7DC7D;
                    padding-bottom:0%;
                    border-radius: 50%;
                }
                .color3{

                    width:15px;
                    height:15px;
                    background-color:#EE8484;
                    padding-bottom:0%;
                    border-radius: 50%;
                }
            }
        }
        .Text{
            display: flex;
            flex-direction:column;
            flex:4;
            margin-top:6%;
            .Main{
                font-family: 'Montserrat', sans-serif;
                font-weight:700;
                font-size:0.8rem;
            }
            .prec{
                font-family: 'Lato','sans-serif';
                font-weight:400;
                font-size:0.6rem;
                color:#858585;

            }
        }
    }
}

@media (max-width:1400px) and (min-width:879px) {
    .container2{
        width:50vw;
        height:20vh;
        display: flex;
        flex-direction: row;
        margin-top:2.5%;
        margin-left:4rem;
        border-radius: 20px;
        background-color: #FFFFFF;
        .pie{
            display: flex;
            flex-direction: column;
            flex: 1;
             width:6rem;
             height:20vh;
            .pietitle{
            font-family: 'Montserrat', sans-serif;
            font-weight:700;
            font-size:1rem;
            padding: 6% 0 0 15%;
            }
        }
        .details{
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-top:5%;
            .detailDate{
             text-align:right;
             padding-right:2.5rem;
             font-family: 'Lato','sans-serif';
             font-weight:400;
             font-size:0.5rem;
             color:#858585;
            }
            .detailContent{
                display: flex;
                flex-direction: row;
                .color{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex:1;
                    .color1{
    
                        width:0.8rem;
                        height:0.8rem;
                        background-color:#98D89E;
                        padding-bottom:0%;
                        border-radius: 50%;
                    }
                    .color2{
    
                        width:0.8rem;
                        height:0.8rem;
                        background-color:#F7DC7D;
                        padding-bottom:0%;
                        border-radius: 50%;
                    }
                    .color3{
    
                        width:0.8rem;
                        height:0.8rem;
                        background-color:#EE8484;
                        padding-bottom:0%;
                        border-radius: 50%;
                    }
                }
            }
            .Text{
                display: flex;
                flex-direction:column;
                flex:4;
                margin-top:5%;
                .Main{
                    font-family: 'Montserrat', sans-serif;
                    font-weight:700;
                    font-size:0.7rem;
                }
                .prec{
                    font-family: 'Lato','sans-serif';
                    font-weight:400;
                    font-size:0.3rem;
                    color:#858585;
    
                }
            }
        }
    }
    
}
@media (max-width:899px) and (min-width:360px) {
    .container2{
        width:45vw;
        height:18vh;
        display: flex;
        margin-left:1.8rem;
        flex-direction: row;
        margin-top:2.5%;
        
        border-radius: 20px;
        background-color: #FFFFFF;
        .pie{
            display: flex;
            flex-direction: column;
            flex: 1;
             width:6rem;
             height:18vh;
            .pietitle{
            font-family: 'Montserrat', sans-serif;
            font-weight:700;
            font-size:0.8rem;
            padding: 6% 0 0 15%;
            }
        }
        .details{
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-top:4%;
            .detailDate{
             text-align:right;
             padding-right:1.2rem;
             font-family: 'Lato','sans-serif';
             font-weight:400;
             font-size:0.5rem;
             color:#858585;
            }
            .detailContent{
                display: flex;
                flex-direction: row;
               height:12vh;
                .color{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex:1;
                    .color1{
    
                        width:0.6rem;
                        height:0.6rem;
                        background-color:#98D89E;
                        padding-bottom:0%;
                        border-radius: 50%;
                    }
                    .color2{
    
                        width:0.6rem;
                        height:0.6rem;
                        background-color:#F7DC7D;
                        padding-bottom:0%;
                        border-radius: 50%;
                    }
                    .color3{
    
                        width:0.6rem;
                        height:0.6rem;
                        background-color:#EE8484;
                        padding-bottom:0%;
                        border-radius: 50%;
                    }
                }
            }
            .Text{
                display: flex;
                flex-direction:column;
                flex:4;
                margin-top:0;
                .Main{
                    font-family: 'Montserrat', sans-serif;
                    font-weight:700;
                    font-size:0.1rem;
                }
                .prec{
                    font-family: 'Lato','sans-serif';
                    font-weight:400;
                    font-size:0.01rem;
                    color:#858585;
    
                }
            }
        }
    }
    
}